[Desktop Entry]
Categories=Application;System;PackageManager;
Exec=salix-update-notifier
Icon=gslapt
Name=Salix update notifier
Name[de]=Salix Update-Benachrichtigung
Comment=Display a tray notification when package updates are available
Comment[de]=Zeigt eine Benachrichtigung, wenn Paketupdates verfügbar sind
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
